<template>
  <div class="col-md-12 col-xl-8 mx-auto my-50">
    <div>
      <label>Email</label>
      <b-form-input type="email" v-model="email" placeholder="Ju lutemi vendosni emailin tuaj!"></b-form-input>
    </div>
    <div>
      <label>Gjinia</label>
      <b-form-select v-model="gjinia" :options="options" required></b-form-select>
    </div>
    <div>
      <label>Mosha</label>
      <b-form-input type="number" v-model="mosha" placeholder="Ju lutemi vendosni moshen tuaj!"></b-form-input>
    </div>
    <div>
      <b-form-group label="Keni njolla kafe në fytyrë?">
        <b-form-radio-group v-model="radioGroup">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="radioGroup === 'po'">
      <b-form-group label="Nëse keni, keni përdorur krema kundër njollave kafe?">
        <b-form-radio-group v-model="kremra">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="kremra === 'po' && radioGroup === 'po'">
      <b-form-group
        label="Sa mililitra janë produktet që keni përdorur për njollat kafe në fytyrë?"
      >
        <b-form-radio-group v-model="mililitra">
          <b-form-radio value="20">20-30 ml</b-form-radio>
          <b-form-radio value="35">35-50 ml</b-form-radio>
          <b-form-radio value="55">55-100 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni produkte për rigjenerimin e lëkurës së fytyrës?">
        <b-form-radio-group v-model="produkte">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni Serume për rigjenerimin e lëkurës së fytyrës?">
        <b-form-radio-group v-model="serume">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="serume === 'po'">
      <b-form-group label="Sa mililitra janë serumet?">
        <b-form-radio-group v-model="serume_mililitra">
          <b-form-radio value="20">20-30 ml</b-form-radio>
          <b-form-radio value="35">35-50 ml</b-form-radio>
          <b-form-radio value="55">55-100 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni kremra për rigjenerimin e lëkurës së fytyrës?">
        <b-form-radio-group v-model="kremra_rigjenerimi">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="kremra_rigjenerimi === 'po'">
      <b-form-group label="Sa mililitra janë kremrat për rigjenerimin e lëkurës së fytyrës?">
        <b-form-radio-group v-model="kremra_rigjenerimi_ml">
          <b-form-radio value="20">20-30 ml</b-form-radio>
          <b-form-radio value="35">35-50 ml</b-form-radio>
          <b-form-radio value="55">55-100 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni Vaj për rigjenerimin e lëkurës së fytyrës?">
        <b-form-radio-group v-model="vaj_rigjenerimi">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="vaj_rigjenerimi === 'po'">
      <b-form-group label="Sa mililitra janë vajrat për rigjenerimin e lëkurës së fytyrës?">
        <b-form-radio-group v-model="vaj_rigjenerimi_ml">
          <b-form-radio value="20">20-30 ml</b-form-radio>
          <b-form-radio value="35">35-50 ml</b-form-radio>
          <b-form-radio value="55">55-100 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni Maska rigjeneruese për fytyrën?">
        <b-form-radio-group v-model="maska_rigjenerimi">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni Primer për make up?">
        <b-form-radio-group v-model="primer_rigjenerimi">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="primer_rigjenerimi === 'po'">
      <b-form-group label="Sa mililitra janë primer-at?">
        <b-form-radio-group v-model="primer_rigjenerimi_ml">
          <b-form-radio value="20">20-30 ml</b-form-radio>
          <b-form-radio value="35">35-50 ml</b-form-radio>
          <b-form-radio value="55">55-100 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni maska për flokët?">
        <b-form-radio-group v-model="maska_floku">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni vaj ushqyes për flokët?">
        <b-form-radio-group v-model="vaj_ushqyes_floku">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="vaj_ushqyes_floku === 'po'">
      <b-form-group label="Sa mililitra janë vajrat ushqyes?">
        <b-form-radio-group v-model="vaj_ushqyes_floku_ml">
          <b-form-radio value="20">20-30 ml</b-form-radio>
          <b-form-radio value="35">35-50 ml</b-form-radio>
          <b-form-radio value="50_100">≤100 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Përdorni shampo kundër zbokthit?">
        <b-form-radio-group v-model="shampo_zbokthi">
          <b-form-radio value="po">Po</b-form-radio>
          <b-form-radio value="jo">Jo</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div v-if="shampo_zbokthi === 'po'">
      <b-form-group label="Sa mililitra janë shampot kunder zbokthit?">
        <b-form-radio-group v-model="shampo_zbokthi_ml">
          <b-form-radio value="200">200 ml</b-form-radio>
          <b-form-radio value="200_250">≤250 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Preferoni produkte organike apo kimike?">
        <b-form-radio-group v-model="produkte_organike_kimike">
          <b-form-radio value="organike">Organike</b-form-radio>
          <b-form-radio value="kimike">Kimike</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div>
      <b-form-group label="Sa shpenzoni mesatarisht në muaj për produkte për lëkurën e fytyrës?">
        <b-form-radio-group v-model="shpenzime_mujore">
          <b-form-radio value="0_50">≥50 euro</b-form-radio>
          <b-form-radio value="100">100 euro</b-form-radio>
          <b-form-radio value="100_150">≤150 ml</b-form-radio>
        </b-form-radio-group>
      </b-form-group>
    </div>
    <div class="links">
      <b-button variant="success" @click="writeToFirestore()">Dërgo</b-button>
    </div>
    <div id="snackbar" :class="{ show: check }">Faleminderit! Forma u plotesua me sukses!</div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'

export default Vue.extend({
  data: () => ({
    gjinia: null,
    options: [
      { value: null, text: 'Ju lutemi zgjidhni gjinine tuaj!' },
      { value: 'femer', text: 'Femer' },
      { value: 'mashkull', text: 'Mashkull' },
    ],
    email: '',
    mosha: '',
    radioGroup: '',
    kremra: '',
    kremra_rigjenerimi: '',
    kremra_rigjenerimi_ml: '',
    mililitra: '',
    produkte: '',
    serume: '',
    serume_mililitra: '',
    vaj_rigjenerimi: '',
    vaj_rigjenerimi_ml: '',
    maska_rigjenerimi: '',
    primer_rigjenerimi: '',
    primer_rigjenerimi_ml: '',
    maska_floku: '',
    vaj_ushqyes_floku: '',
    vaj_ushqyes_floku_ml: '',
    shampo_zbokthi: '',
    shampo_zbokthi_ml: '',
    produkte_organike_kimike: '',
    shpenzime_mujore: '',
    check: false,
  }),
  methods: {
    async writeToFirestore() {
      const messageRef = this.$fireStore.collection('leads')
      try {
        await messageRef.add({
          gjinia: this.gjinia,
          email: this.email,
          mosha: this.mosha,
          njolla_kafe: this.radioGroup,
          kremra: this.kremra,
          kremra_rigjenerimi: this.kremra_rigjenerimi,
          kremra_rigjenerimi_ml: this.kremra_rigjenerimi_ml,
          serume: this.serume,
          serume_mililitra: this.serume_mililitra,
          mililitra: this.mililitra,
          produkte: this.produkte,
          vaj_rigjenerimi: this.vaj_rigjenerimi,
          vaj_rigjenerimi_ml: this.vaj_rigjenerimi_ml,
          maska_rigjenerimi: this.maska_rigjenerimi,
          primer_rigjenerimi: this.primer_rigjenerimi,
          primer_rigjenerimi_ml: this.primer_rigjenerimi_ml,
          maska_floku: this.maska_floku,
          vaj_ushqyes_floku: this.vaj_ushqyes_floku,
          vaj_ushqyes_floku_ml: this.vaj_ushqyes_floku_ml,
          shampo_zbokthi: this.shampo_zbokthi,
          shampo_zbokthi_ml: this.shampo_zbokthi_ml,
          produkte_organike_kimike: this.produkte_organike_kimike,
          shpenzime_mujore: this.shpenzime_mujore,
        })
        this.makeToast()
      } catch (e) {
        alert(e)
        return
      }
    },
    makeToast() {
      this.check = true
    },
  },
})
</script>

<style scoped>
.my-50 > div {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #d6a296;
  border-radius: 8px;
}
.my-50 {
  margin: 60px auto;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}
</style>