<template>
  <div class="row text-center">
    <div class="col-md-12 col-xl-12 text-center">
      <img src="beauty.png" class="img_bg" />
      <RealTimeDatabase />
    </div>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import RealTimeDatabase from '~/components/examples/RealTimeDatabase.vue'

export default Vue.extend({
  components: {
    RealTimeDatabase,
  },
  asyncData({ app }) {
    // INFO -> app.$fireStore etc. are accessible
  },
  data: () => ({}),
})
</script>

<style scoped>
.img_bg {
  max-height: 400px;
}
@media (max-width: 768px) {
  .img_bg {
    width: 100%;
  }
}
</style>
